<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="./stylesheets/style.css">

    <title>Appointment System</title>
</head>

<body>
    <div id="app">
        <h3>Appointed list</h3>
        <table class="table table-bordered">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Date</th>
                <th>Time</th>
                <th>Title</th>
                <th>Edit</th>
            </tr>
            <tr v-for="(item,record) in records">

                <td>{{ item._id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.slot_date }}</td>
                <td>{{ item.slot_time }}</td>
                <td>{{ item.title }}</td>


                <td>
                    <a v-bind:href="item.editUrl">edit</a>
                </td>


            </tr>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script type="text/javascript">
        const vue = new Vue({
            el: "#app",
            data: {
                records: [],
                slots: []
            },
            created: function () {
                axios.get("/api/view").then(response => {
                    var records = [];
                    response.data.forEach((item, index) => {
                        var editUrl = "/edit/" + item._id;
                        records.push({ ...item, editUrl });
                        this.records = records;
                    });
                });
            }

        });
    </script>
</body>

</html>